{% extends 'base.html.twig' %}

{% block body %}
<!-- MAIN IMAGE SECTION -->
<div id="portwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Titre projet</h2>
      </div>
    </div><!-- row -->
  </div><!-- /container -->
</div><!-- /portrwrap -->

<!-- WELCOME SECTION -->

<!-- CLIENT INFORMATION -->
<div id="lg">
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-lg-offset-1 desc">
      <h3>Projet : 2</h3>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
      <p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
    </div>

    <div class="col-lg-4 col-lg-offset-1 desc">
      <h3>Infos supplémentaires</h3>
      <br>
      <h5><b>Auteurs:</b> REBECCA ZEARING</h5>
      <h5><b>Nombre de places:</b> 5 </h5>
      <h5><b>Nombre de participants:</b> 0 / 5</h5>
      <h5><b>Description:</b></h5>
      <p class="tm">Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure.<br/>Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
      <p><br><button type="button" class="btn btn-green">Participer !</button></p><p><button type="button" class="btn btn-green">Inviter</button></p>

    </div>

  </div><!-- row -->
</div><!-- container -->
</div><!-- dg -->

{% endblock%}
