{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
{% if projet.pictureName %}
  <img src="{{ asset(projet.getWebPath()) }}" />
  {% else %}
  Pas d'image chargée pour ce projet!
  {% endif %}

  <h1>Charger une image pour ce projet</h1>

  <form action="#" method="post">
  {{ form_start(form) }}
  {{ form_widget(form) }}

  </form>
</div>
{% endblock %}
