{% extends 'base.html.twig' %}

{% block body %}
<!-- MAIN IMAGE SECTION -->
<div id="portwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Mon profil</h2>
      </div>
    </div><!-- row -->
  </div><!-- /container -->
</div><!-- /portrwrap -->
<br>
<div class="container">
  <div class="col-lg-12">
    <div class="col-lg-4">
      <p>Mes actions</p>
      <hr>
      <p>Modifier mon profil</p>
      <p>Mes projets</p>
      <p>Mes projets</p>
    </div>
    <div class="col-lg-8">
        <p>Modification de mon profil</p>
        <hr>
    </div>
  </div>
</div>
{% endblock %}
