.panel {
  background-color: transparent;
}

.panel-info {
  border-color: transparent;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

select {
      width: auto!important;
}

.btn-primary {
  background-color:#16a085;
  border-color: #16a085;
}

.btn-primary:hover {
  background-color:rgb(0, 150, 150);
  border-color: rgb(0, 150, 150);
}
section {
  min-height: 900px;
}

td{
      background-color: #f2f2f2;
}
