.panel {
  background-color: transparent;
}

.panel-info {
  border-color: transparent;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

select {
      width: auto!important;
}

.btn-primary {
  background-color:#16a085;
  border-color: #16a085;
}

.btn-primary:hover {
  background-color:rgb(0, 150, 150);
  border-color: rgb(0, 150, 150);
}
section {
  min-height: 900px;
}

td{
      background-color: #f2f2f2;
}

.chosen-container {
  width: 100% !important;
}

/** PROGRESS BAR **/
.progress {
    position: relative;
	height: 25px;
}
.progress > .progress-type {
	position: absolute;
	left: 0px;
  text-transform: uppercase;
	font-weight: 800;
	padding: 3px 100px 2px 10px;
	color: rgb(255, 255, 255);
	background-color: rgba(0, 150, 136, 0.21);
}
.progress > .progress-completed {
	position: absolute;
	right: 0px;
	font-weight: 800;
	padding: 3px 10px 2px;
}
.competence {
  display: flex;
}
.competence li {
  display: block;
  width: 200px;
  margin: 20px;
}


/** TROPHEE **/
.trophee {
  height:440px;

  background: url(../img/trophee.png) left top repeat;
}

.pointTrophee{
  float: right;
  font-weight: bold;
  margin-top: 32%;
  margin-right: 51%
}




.panel {
    margin-bottom: 20px;
    background-color:transparent;
    / border: 0px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05); */
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05); */
}

/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-circle a {
 background-color: #D3D3D3;
}


/** RANGE **/

.range {
    display: table;
    position: relative;
    height: 25px;
    margin-top: 20px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 25px;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.range input[type="range"] {
    outline: none;
}

.range.range-primary input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(66, 139, 202);
}

.notification-list, .n-user-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.notification-list > li {
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
    padding: 5px 0;
}
.notification-list .cat-icon {
    width: 20px;
}
.notification-list .avatar {
    width: 30px;
}

.rounded {
    border-radius: 0.25rem;
}
.n-user-list{margin-bottom:5px;}
.n-user-list:after{clear:both; content:''; display:table;}
.n-user-list li{float:left;}
.n-user-list li + li{margin-left:3px;}
.n-user-list li a, .n-user-list li a:hober{text-decoration:none;}

#service{padding-top: 100px;padding-bottom: 100px;}
.row-1 .ser-col-4{border-right:solid 1px #ccc;border-bottom: solid 1px #ccc;}
.row-1 .ser-col-4-l{border-bottom: solid 1px #ccc;}
.row-2 .ser-col-4{border-right:solid 1px #ccc;border-bottom: solid 1px #ccc;}
.row-2 .ser-col-4-l{border-bottom: solid 1px #ccc;}
.row-3 .ser-col-4{border-right:solid 1px #ccc;}


@media (max-width:768px){
    .ser-col-4-l{border-right:solid 1px #ccc;border-bottom: solid 1px #ccc;border-left:solid 1px #ccc;}
    .ser-col-4{border-left:solid 1px #ccc;border-bottom: solid 1px #ccc;}
}

.ser-col{width:100%;height: 370px;text-align: center;padding:20px;position: relative;}
.icon-col{width:80px;height:80px;border-radius: 50%;text-align: center;margin-left: auto;margin-right: auto;}
.icon-col i{font-size: 35px;padding: 20px;}
.circle {
    position: absolute;
    bottom: -11px;
    right: -24px;
    z-index: 99;
}
.circle i{color:#ccc;font-size: 18px;background-color:ghostwhite;}

.ser-col h2{color:#777;
    margin-bottom: 20px;}

.ser-col p{color:#3e3b3b;
    margin-bottom: 20px;}


/*====== service 7 ====*/
.ser-7 .icon-col {border: solid 1px mediumseagreen;}
.ser-7 .icon-col i{color:mediumseagreen;}
